body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    background: linear-gradient(to bottom, #ff8aaa, #642a68);
    color: white;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1.4s forwards;

    
}

.delay {
    animation-delay: 0.7s;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}

#btn {
    margin-top: 40px;
    padding: 15px 40px;
    font-size: 20px;
    font-weight: bold;
    background: #cc3262;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}

#btn:hover {
    background: #e94786;
}

.hidden {
    display: none;
}

#message-box {
    margin-top: 40px;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.35);
    animation: fadeSlide 1s forwards;
}

.msg-line {
    opacity: 0;
    font-size: 26px;
    margin: 10px;
    animation: fadeSlide 1s forwards;
}

.msg-line:nth-child(2) {
    animation-delay: 0.4s;
}

@keyframes fadeSlide {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}


.heart {
    position: fixed;
    color: red;
    font-size: 24px;
    animation: float 4s linear infinite;
}

@keyframes float {
    0% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(-600px); opacity: 0; }
}
